<%- include('includes/head.ejs') %>

<h1 class="text-3xl font-bold m-8">Próximos premios</h1>

<a href="/premios/nuevo" class="button is-link is-rounded bg-emerald-500 border-8 border-emerald-500 m-8 rounded-md text-lg text-slate-100">Registrar artista</a>

<br><br>


<% if (premios.length > 0) { %>
  <div class="columns">
    <% let columns = 0; %>
    <% for (let premio of premios) { %>
  </div>
      <% columns++; %>
      <div class="column"></div>
      <br><br>
        <div class="flex justify-center">
        <div class="flex flex-col rounded-lg bg-white shadow-lg dark:bg-teal-900 md:max-w-xl md:flex-row ">
          <img class="h-96 w-full rounded-t-lg object-cover md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="<%= premio.foto %>"/>
          <div class="flex flex-col justify-start p-6">
            <p class="mb-2 text-xl font-medium text-neutral-800 dark:text-neutral-50"><%= premio.nombre %></p>
          </div>  
          <div class="flex flex-col justify-start p-6">
              <p class="mb-2 text-xl font-medium text-neutral-800 dark:text-neutral-50"><%= premio.premio %></p>
            <p class="m-8 text-base text-neutral-600 dark:text-neutral-200"><%= premio.descripcion %> <br><br> <%= premio.ubicacion %></p>
          </div>
        </div>
      </div>
    <% } %>
<% } else { %>
    <h1>No hay próximos premios!</h1>
<% } %>

<!--MUESTRA LA ÚLTIMA COOKIE GUARDADA-->
<% if (ultimoArtista != '') { %>
    <div class="notification is-link is-light">
        Último artista dado de alta: <%= ultimoArtista %>
    </div>
<% } %>

<%- include('includes/foot.ejs') %>